<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <th:block th:replace="basictemplate :: header_css">
        </th:block>
    </head>
    <body>
        <header th:replace="basictemplate.html :: header"></header>
        <table class="table ui" id="maintable">

            <tbody>
            <tr>

                <td th:replace="navtemplate :: barrenav"></td>
                <td class="twelve wide" id="mainContent">
                <p th:text="${msg.texte}"></p>
                <br/><a class="ui red button" th:if="${session.admin}" th:href="@{/admin/msg/delete/{Id} (Id=${msg.id})}">Effacer</a>
                </td></tr></tbody></table>
        <footer th:replace="basictemplate :: footer"></footer>

    </body>
</html>