<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>


        <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
        <ul class="sanspuce">
            <li th:each="msg : ${msgs}">
                <a th:href="@{/admin/msg/detail/{Id} (Id=${msg.id})}"
                       th:text="${'message de : '+msg.email+' du '+msg.date}"></a>
                <br><a class="ui red button" th:href="@{/admin/msg/delete/{Id} (Id=${msg.id})}"
                        th:if="${session.admin}">Effacer</a>
            </li>
        </ul>
        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>