<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">

        <ul class="sanspuce">
            <li th:each="review : ${reviews}">
                <h1><a th:href="@{/film/{Id} (Id=${review.film.id})}"
                       th:text="${'commentaire sur : '+review.film.titre}"></a></h1>
                <div th:text="'utilisateur: '+${review.utilisateur.nom}+' '+${review.utilisateur.prenom}"></div>
                <br/>
                <div th:text="${review.article}"></div>
                <br/><a class="ui red button" th:href="@{/review/delete/{Id} (Id=${review.id})}"
                        th:if="${session.admin!=null}">Effacer</a>
                <a class=ui yellow button" th:href="@{/review/update/{Id} (Id=${review.id})}"
                   th:if="${session.admin!=null}">Editer</a>
            </li>
        </ul>
        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>