<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <th:block th:replace="basictemplate :: header_css">
        </th:block>
    </head>
<body>
    <header  class="block" th:replace="basictemplate :: header"></header>


        <table class="table ui">

            <tbody>
            <tr>
                    <td th:replace="navtemplate :: barrenav"></td>
                <td id="mainContent" class="twelve wide">
                    <h2>Créez vos Identifiants</h2>

                        <form action="/user/create" method="post" th:object="${newuser}" autocomplete="off">
                            <table class="table ui">
                                <tr>


                                <td> <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{hpw}"/>
                                    <input type="hidden" th:field="*{link}"/>
                                    <label>Identifiant *</label></td><td><input name="login" type="text" th:field="*{login}"/></td>
                            </tr><tr>
                            <td><label>Mot de passe *</label></td><td><input name="password" type="password"/></td>
                        </tr><tr>
                            <td><label>email *</label></td><td><input name="email" type="text" th:field="*{email}"/><td>
                        </tr><tr>
                            <td><label>nom </label></td><td><input name="nom" type="text" th:field="*{nom}"/><td>
                        </tr><tr>
                        </tr><tr>
                            <td><label>prenom </label></td><td><input name="prenom" type="text" th:field="*{prenom}"/><td>
                        </tr><tr>
                            <td><label>type *</label></td><td><input name="type" type="text" th:field="*{type}"/><td><td>Rappel 1=admin,2=vendeur,3=normal</td>
                        </tr>
                            <tr>
                                <td><label>Abonnement newsletter</label></td><td><input name="abonnement" type="checkbox" th:field="*{abonne}" th:checked="*{abonne}"/><td><td></td>
                            </tr>
                                <tr>
                                    <td><label>compte actif</label></td><td><input type="checkbox" name="actif" th:field="*{actif}" th:checked="*{actif}" onclick="return false;"/></td>
                                </tr>
                            <tr>
                            <td><input type="submit" value="Envoyer" /></td>
                        </tr>

                    </table>
                        </form>
                </td>
            </tr></tbody></table>


    <footer th:replace="basictemplate :: footer"></footer>
</body></html>