<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <th:block th:replace="basictemplate :: header_css">
        </th:block>
    </head>

    <header  class="block" th:replace="basictemplate :: header"></header>


        <div class="row">
            <div class="col-sm-2">
                <nav th:replace="navtemplate :: barrenav"></nav>
            </div>
            <div class="col-sm-10" id="mainContent"><h2>Créez vos Identifiants</h2>

                    <table>
                        <form action="/user/create" method="post" th:object="${newuser}" autocomplete="off">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:field="*{hpw}"/>
                            <input type="hidden" th:field="*{link}"/>
                            <tr>
                                <td><label>Identifiant *</label></td><td><input name="login" type="text" th:field="*{login}"/></td>
                            </tr><tr>
                            <td><label>Mot de passe *</label></td><td><input name="password" type="password"/></td>
                        </tr><tr>
                            <td><label>email *</label></td><td><input name="email" type="text" th:field="*{email}"/><td>
                        </tr><tr>
                            <td><label>nom *</label></td><td><input name="nom" type="text" th:field="*{nom}"/><td>
                        </tr><tr>
                        </tr><tr>
                            <td><label>prenom *</label></td><td><input name="prenom" type="text" th:field="*{prenom}"/><td>
                        </tr><tr>
                            <td><label>type *</label></td><td><input name="type" type="text" th:field="*{type}"/><td><td>Rappel 1=admin,2=vendeur,3=normal</td>
                        </tr>
                            <tr>
                                <td><label>Abbonement newsletter</label></td><td><input name="abonnement" type="checkbox" th:field="*{abonne}" th:checked="*{abonne}"/><td><td></td>
                            </tr>

                            <tr>
                            <td><input type="submit" value="Envoyer" /></td>
                        </tr>
                        </form>
                    </table>

            </div>
        </div>


    <footer th:replace="basictemplate :: footer"></footer>
</body></html>