<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">
    <tbody>
    <tr>


            <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve column wide"><h1>Detail utilisateur:</h1>
            <table class="table ui">
                <thead>
                <tr>
                <th class="two wide">id</th>
                <th class="ten wide">detail</th>

                <th:block th:if="${session.admin}">
                    <th class="two wide">effacer</th>
                    <th class="two wide">editer</th>
                </th:block>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td><span th:text="${user.id}"></span></td>
                <td th:text="${user.toString()}"></td>
                <td><a class="ui  red button" th:if="${session.admin}"
                       th:href="@{/user/delete/{Id} (Id=${user.id})}">Effacer</a></td>
                <td><a class="ui  yellow button" th:if="${session.admin}"
                       th:href="@{/user/update/{Id} (Id=${user.id})}">Editer</a></td>
                </tr>
                </tbody>
            </table>
            <a class=centered th:href="@{/review/listeParUtilisateur/{Id} (Id=${user.id})}">Liste des commentaires</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>