<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>

            <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
            <h1>liste des utilisateurs</h1>
            <table class="table ui">
                <thead>
                <tr class="two wide"></tr>
                <tr class="ten wide"></tr>
                <tr class="two wide"></tr>
                <tr class="two wide"></tr>
                </thead>
                <tbody>
                <tr th:each="utilisateur : ${listeUsers}">
                    <td><span th:text="${utilisateur.id}"></span></td>
                    <td><a th:text="${utilisateur.toString()}"
                           th:href="@{/user/detail/{Id} (Id=${utilisateur.id})}"></a></td>
                    <td><a class="ui  red button" th:if="${session.admin!=null}"
                           th:href="@{/user/delete/{Id} (Id=${utilisateur.id})}">Effacer</a></td>
                    <td><a class="ui  yellow button" th:if="${session.admin!=null}"
                           th:href="@{/user/update/{Id} (Id=${utilisateur.id})}">Editer</a></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>