<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>

<table class="table ui" id="maintable">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">
            <h1>Detail panier:<div th:if="${strings.size()==0}" th:text="'Panier Vide'"></div></h1>
            <ul th:each="string : ${strings}">
                <li th:text="${string}"></li>
            </ul>
            <th:block th:unless="${session.vendeur}">
            <a class="ui green button" href="/user/panier/valider" th:if="${strings.size()!=0}" th:text="#{validCommand}">valider commande</a>
            </th:block>
            <th:block th:if="${session.vendeur}">
                <a class="ui green button" href="/vendeur/pay" th:if="${strings.size()!=0}" th:text="#{pay}">valider commande</a>
            </th:block>
        </td></tr></tbody></table>

<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>