<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>

<table class="table ui">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">
        <h1>Detail panier:</h1>
            <ul th:each="string : ${strings}">
                <li th:text="${string}"></li>
            </ul>
        <a class="ui green button" href="/panier/payer">payer</a>
        </td></tr></tbody></table>

<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>