<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>

<table class="table ui" id="maintable">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">
            <ul>
                <li class="marge" th:each="commande : ${commandes}">
                    <div th:text="'commande numero ' + ${commande.id} +' du '+${commande.formattedDate()}"></div>
                    <div th:text="'prix='+${commande.prix()} +' payee='+${commande.paye}"></div>
                    <ul th:each="billet : ${commande.billets}">
                        <li th:text="${billet.toString()}"></li>
                    </ul>
                </li>
                <th:block th:if="${commandes.size()==0}" th:text="#{neverbought}"></th:block>
            </ul>

        </td></tr></tbody></table>

<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>