body
{   background-color: #008080;
    font-size:20px ;
    font-family:  Arial, Helvetica, sans-serif;
}
header
{	text-align:center;
}
h1{
    text-align: center;
    font-size:250%;
}
h2
{   text-align: center;
    font-size:200%;
    font-style: italic;
}
h3
{	text-align: center;
    font-size:150%;
}
.flashmessage
{
    background-color: yellow;
}
.titleArea{
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
textarea
{   resize: none;
}
a{
    /*color: darkgreen;*/
}
.saisie{
    text-align: center
}

.sanspuce{
    list-style-type:none;
}
.centered{
    text-align: center;
}


.fullwidth {
    width: 100%;
}
.flag{
    height: 20px;


}
.redbackground{
    background-color: chocolate;

}
.greenbackground{
    background-color: #A5D6A7;
}
.blacktext
{
    color: black;
}
.marge{
border-bottom: solid 3px #cccccc  ;
}
.titleArea{
    display :inline-block;
}

.table {
    background-color: #E0E0E0;
    margin: 0;
}
#headerTable{
    margin: 0;
}
#maintable{
    margin: 0;
}

#mainContent{
    text-align: center;
    background: aqua;

}
#loginarea
{    text-align: center;
    background: #008080;
}
#titleArea
{    text-align: center;
    background: #008080;
}
#navbararea
{   text-align: center;
    background: teal;
    position: relative;
    height: 400px;
    vertical-align: top
}


#navbarre
{  vertical-align: top;
}

