body
{	background-color: rgb(150,150,250);
    font-size:100%;
    font-family:  Arial, Helvetica, sans-serif;
}

header
{	text-align:center;
    background-color:rgb(40,80,80);
}

h1{
    text-align: center;
    font-size:250%;
}

h2
{   text-align: center;
    font-size:200%;
    font-style: italic;
}
h3
{	text-align: center;
    font-size:150%;

}
p
{
    background-color: yellow;
}

img {
    max-width: 100%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;

}
textarea
{   width: 100%;


}

a{
    color: darkgreen;
}
.saisie{
    text-align: center
}
.login{	float: right;
    background-color: cyan;
}
.sanspuce{
    list-style-type:none;
}
.centered{
    text-align: center;
}


.fullwidth {
    width: 100%;
}
.flag{
    height: 20px;

}
.redbackground{
    background-color: crimson;

}
.greenbackground{
    background-color: green;
}
.blacktext
{
    color: black;
}
#mainContent{
    text-align: center;
    background: aqua;

}
#loginarea
{    text-align: center;
    background: goldenrod;
}
#navbararea
{   text-align: center;
    background: teal;
    position: relative;
    height: 400px;
}

#navbarre
{  position: absolute;
    top: 0;
    left: 0;
}
