<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>
        <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
            <h1>liste des seances</h1>
            <table class="ui table">
                <tr th:each="seance : ${seances}">
                    <td class="four wide" th:text="${seance.id}+' '+${seance.debut.format(formatter)}"></td>
                    <td class="six wide"><a th:href="@{/film/detail/{Id} (Id=${seance.film.id})}" th:text="${seance.film.titre}"></a></td>
                    <td class="two wide"><a class="ui green button"
                                            th:if="${session.panier}" th:href="@{/panier/commande/{Id} (Id=${seance.id})}">commander</a></td>
                    <th:block th:if="${session.admin!=null}">
                    <td class="two wide"><a class="ui red button"
                                            th:href="@{/seance/delete/{Id} (Id=${seance.id})}">Effacer</a></td>
                    <td class="two wide"><a class="ui yellow button"
                                            th:href="@{/seance/update/{Id} (Id=${seance.id})}">Editer</a></td>
                    </th:block>
                </tr>
            </table>
            <a th:if="${session.admin!=null}" href="/seance/create" method="get">creer séances</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>