<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui" id="maintable">

    <tbody>
    <tr>
        <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
            <h1>liste des seances</h1>
            <table class="ui table">
                <th>seance id + date</th>
                <th>film</th>
                <th>salle</th>

                <th th:unless="${session.vendeur}"></th>
                <th th:unless="${session.vendeur}"></th>

                <tr th:each="seance : ${seances}">
                    <td class="four wide marge" th:text="${seance.id}+' '+${seance.debut.format(formatter)}"></td>
                    <td class="five wide marge"><a th:href="@{/film/detail/{Id} (Id=${seance.film.id})}" th:text="${seance.film.titre}"></a></td>
                    <td class="one wide marge" th:text="${seance.salle.id}"></td>
                    <th:block th:unless="${session.vendeur}">
                    <td class="two wide marge"><a class="ui green button"
                                            th:if="${session.panier}" th:href="@{/user/commande/{Id} (Id=${seance.id})}">commander</a></td>
                    </th:block>
                    <th:block th:if="${session.vendeur}">
                        <td class="two wide marge"><a class="ui green button"
                                                th:if="${session.panier}" th:href="@{/vendeur/commande/{Id} (Id=${seance.id})}">commander</a></td>
                    </th:block>
                    <th:block th:if="${session.admin}">
                    <td class="two wide marge"><a class="ui red button"
                                            th:href="@{/seance/delete/{Id} (Id=${seance.id})}">Effacer</a></td>
                    <td class="two wide marge"><a class="ui yellow button"
                                            th:href="@{/seance/update/{Id} (Id=${seance.id})}">Editer</a></td>
                    </th:block>
                </tr>
            </table>
            <a class="ui blue button" th:if="${session.admin}" href="/seance/create" method="get">creer séances</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>