<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>
            <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
    <h1>liste des seances</h1>
            <table class="ui table">
    <tr  id="mainContent" th:each="seance : ${seances}">
            <td class="two wide"><span th:text="${seance.id}"></span></td>
            <td class="ten wide"><a   th:href="@{/panier/commande/{Id} (Id=${seance.id})}" th:text="${seance.film.titre}+' '+${seance.debut}"></a></td>
            <td class="two wide"><a class="ui red button"  th:if="${session.admin!=null}" th:href="@{/seance/delete/{Id} (Id=${seance.id})}">Effacer</a></td>
            <td class="two wide"><a class="ui yellow button" th:if="${session.admin!=null}" th:href="@{/seance/update/{Id} (Id=${seance.id})}">Editer</a></td>
    </tr>
                </table>
        <form action="/seance/create" method="get">
            <label>Combien de seances voulez vous creer?</label>
            <input type="text" name="n"/><input type="submit" value="cree des seances">
        </form>
        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>