<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <th:block th:replace="basictemplate :: header_css">
        </th:block>
    </head>
<body>
    <header  class="block" th:replace="basictemplate :: header"></header>



        <table class="table ui">

            <tbody>
            <tr>

                <td th:replace="navtemplate :: barrenav"></td>

                <td id="mainContent" class="twelve wide">
        <h2>Créer un genre</h2>


                        <form action="/genre/create" method="post" th:object="${genre}" autocomplete="off">
                            <input type="hidden" name="id" th:field="*{id}"/>
                            <table>

                           <tr>
                            <td><label>nom du genre</label></td><td><input name="genre" type="text" th:field="*{name}"/></td>
                           </tr>
                            <tr>
                            <td><input type="submit" value="Envoyer" /></td>
                        </tr>

                    </table>
                        </form>
                </td></tr></tbody></table>

    <footer th:replace="basictemplate :: footer"></footer>
</body></html>