<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <th:block th:replace="basictemplate :: header_css">
        </th:block>
    </head>
<body>
    <header  class="block" th:replace="basictemplate :: header"></header>
    <table class="table ui" id="maintable">

        <tbody>
        <tr>

            <td th:replace="navtemplate :: barrenav"></td>

            <td id="mainContent" class="twelve wide">
    <h2>dissocier un genre d'film</h2>


                        <form action="/genre/dissocier" method="post">
                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}" />
                            <table>
                           <tr><td><label>genre</label></td><td><label>film</label></td></tr>
                           <tr>
                            <td><input  list="genres" name="genreId" type="text"/>
                                <datalist id="genres">
                                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
                                </datalist>


                            </td>
                            <td><input list="films" name="filmId" type="text">
                                <datalist id="films">
                                    <option th:each="film : ${films}" th:value="${film.id}" th:label="${film.titre}"></option>
                                </datalist>

                            </td>
                        </tr>
                        <tr><td><input type="submit" value="Envoyer"/></td></tr>
                            </table>
                        </form>

            </td></tr></tbody></table>

    <footer th:replace="basictemplate :: footer"></footer>
</body></html>