<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate.html :: header"></header>
<table class="table ui" id="maintable">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">

<div class="ui modal">
    <div class="Header">
        Modification/Ajout d'un genre
    </div>
    <div class="ui padded form">
        <input type="hidden" name="id" id="id-genre">
        <div class="fourteen wide field">
            <input type="text" name="name"  id="name-genre">
        </div>
        <div class="actions">

                <div class="circular ui green icon button" onclick="validForm()">
                    <i class="white check icon icon"></i>
                </div>
                <div class="circular ui icon red button" onclick="eraseGenre()">
                    <i class="white close icon icon"></i>
                </div>
            <div class="circular ui icon blue button" onclick="abort()">
                <i class="white close icon icon"></i>
            </div>

        </div>
    </div>
</div>

<table class="ui celled table inverted blue">
    <thead>
    <tr>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:id="'ligne0'" >
        <td class="ui green button" th:id="'genre0'" th:onclick="'openDialog(0)'">ajouter un genre</td></tr>
    <tr th:each="genre, rowStat: ${genres}" th:id="'ligne'+ ${genre.id}">
        <td th:text="${genre.name}" th:id="'genre'+ ${genre.id}" th:onclick="'openDialog(' + ${genre.id}+')'">Un genre</td>
    </tr>

    </tbody>
</table>

        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>

<script type="application/javascript">
    $('#menu-genres').addClass("active");
    $('.ui.dropdown').dropdown();
    $('.ui.modal').modal();
    function create()
    {   openDialog(0);

    }
    function openDialog(idGenre) {
        console.log("id="+idGenre);
        eltIdGenre = 'genre' + idGenre;
        elt = document.getElementById(eltIdGenre);
        console.log(elt.textContent + " (id= '" + eltIdGenre + "')");

            document.getElementById('id-genre').value = idGenre;
            document.getElementById('name-genre').value = document.getElementById(eltIdGenre).textContent;


        $('.ui.modal').modal('show');
    }

    function validForm() {
        $('.ui.modal').modal('hide');
        genreVal = {
            "id": document.getElementById('id-genre').value,
            "name": document.getElementById('name-genre').value
        };
        console.log(genreVal);
        $.ajax({
            url: '/api/genre/crud',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessUpdateNameGenre,
            error: onErrorOnGenre,
            data: JSON.stringify(genreVal)
        });
    }

    function onSuccessUpdateNameGenre(result) {
        console.log(result);
        idElt = "#genre" + result.id;
        newName = result.name;
        if ($(idElt).length > 0) {
            $(idElt).text(newName);
        }
        else
        {   id=result.id;
            var el=document.createElement("tr");
            var td1=document.createElement("td");
            el.setAttribute("id","ligne"+id);
            td1.innerText=newName;
            td1.setAttribute("id","genre"+id);
            i1=document.createElement("i");
            i1.className='small white edit icon';
            el.appendChild(td1);
            td1.addEventListener("click",function(){openDialog(id)});

            var node=document.getElementById("ligne0");
            var parentNode=node.parentNode;
            // inserer la nouvelle ligne en deuxième position du tableau
            parentNode.insertBefore(el,node.nextSibling);

        // <a class="small circular ui blue icon button"
        //     th:onclick="'create()'"><i class="small white edit icon"></i></a>
        }
    }


    function onErrorOnGenre(jqXHR, textStatus, errorThrown) {

        console.log('jqXHR:');
        console.log(jqXHR);
        console.log("message d'erreur: "+jqXHR.responseJSON.message);
        console.log('textStatus:');
        console.log(textStatus);
        console.log('errorThrown:');
        console.log(errorThrown);
        alert("Echec de l'opération\n"+jqXHR.responseJSON.message);
    }

    function eraseGenre() {
        $('.ui.modal').modal('hide');
        genreVal = {
            "id": document.getElementById('id-genre').value
        };
       //console.log("Ecrire la méthode permettant de deleteByUser un genre");
        console.log(genreVal);
        $.ajax({
            url: '/api/genre/crud',
            type: 'delete',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessDeleteNameGenre,
            error: onErrorOnGenre,
            data: JSON.stringify(genreVal)
        });
    }
    function onSuccessDeleteNameGenre(result) {
        console.log(result);
        idElt = "#ligne" + result.id;
        $(idElt).remove();
    }


    function abort() {
        $('.ui.modal').modal('hide');
    }
</script>
</body>
</html>