<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>

</head>
<body>

<header class="block" th:replace="basictemplate :: header"></header>
<table class="table ui" id="maintable">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">
<h1>Liste des genres</h1>
            <table class="ui table">
        <tr  th:each="genre : ${genres}">
            <td class="two wide marge"><span th:text="${genre.id}"></span></td>
            <td class="ten wide marge"><a th:href="@{/film/listParGenre/{Id} (Id=${genre.id})}" th:text="${genre.name}"></a></td>

            <td class="two wide marge">
                <a class="ui red button" th:if="${session.admin}" th:href="@{/genre/delete/{Id} (Id=${genre.id})}">Effacer</a>
            </td>
            <td class="two wide marge">
                <a class="ui yellow button" th:if="${session.admin}" th:href="@{/genre/update/{Id} (Id=${genre.id})}">Editer</a></td>
        </tr>
            </table>
        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>
