<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <th:block th:fragment="header_css">
            <title th:text="${title}">Title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="UTF-8">
            <meta name="mobile-web-app-capable" content="yes">
            <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.min.css"
                  th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}"/>
            <link href="/CSS/baseStyle.css" rel="stylesheet">
        </th:block>
    </head>
    <body>
        <header th:fragment="header">

            <table class="ui inverted green table">
                <tbody>
                <tr>
                <td class="eleven wide"><h1>Les Nanars Sauvages</h1></td>
                    <td class="one wide" onclick="setLang('Fr')"><img src="/drapeau/1"></td>
                    <td class="one wide" onclick="setLang('En')"><img src="/drapeau/2"></td>
                <td class="three wide hidden" id="loginarea"><a href="/" th:text="#{homePage}">page d'accueil</a><br>

                    <th:block th:if="${session.user != null}" th:text="${session.user.login}"></th:block>
                    <a th:if="${session.user != null}" th:href="@{/login/logout}" th:utext="'<br>'+#{logout}">logout</a>
                    <a th:if="${session.user == null}" th:href="@{/login/connection}" th:text="#{login}">se connecter</a><br>
                    <a th:if="${session.user == null}" th:href="@{/login/inscription}"th:text="#{register}">s'inscrire</a>

                </td>
                </tr>
                </tbody>
            </table>
            <p th:text="${flashMessage}"></p>

        </header>
        <section>Contenu de la section</section>
        <footer th:fragment="footer">
            <a href="/contact" th:text="#{contactUs}">nous contacter</a>

            <script src="webjars/jquery/3.3.1-1/jquery.js"
                    th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>

            <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"
                    th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
            <script src="webjars/tinymce/4.7.9/tinymce.min.js"
                    th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
            <script type="application/javascript">
                $('.ui.dropdown.item')
                    .dropdown();
            </script>
            <script type="application/javascript">
                function setLang(lang) {
                    var currentUrl=window.location.toString();
                    if(currentUrl.includes("lang="))
                    {   //console.log("includes 1 true")
                        currentUrl=currentUrl.substring(0,currentUrl.length-2);
                        //console.log("currentUrl="+currentUrl);
                    }
                    else if(!currentUrl.includes("?"))
                    {   //console.log("includes 2 true")
                        currentUrl=currentUrl+"?lang=";
                        //console.log("currentUrl="+currentUrl);
                    }
                    else
                    {
                        //console.log("includes 3 ")
                        currentUrl=currentUrl+"&lang=";
                        //console.log("currentUrl="+currentUrl);
                    }
                    currentUrl=currentUrl+lang;
                    //console.log(currentUrl);
                    window.location=currentUrl;
                }
            </script>
        </footer>
    </body>
</html>