<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <th:block th:fragment="header_css">
            <title th:text="${title}">Title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta charset="UTF-8">
            <meta name="mobile-web-app-capable" content="yes">
            <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.min.css"
                  th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}"/>
            <link href="/CSS/baseStyle.css" rel="stylesheet">
        </th:block>
    </head>
    <body>
        <header th:fragment="header">

            <table class="ui inverted green table">
                <tbody>
                <tr>
                <td class="eleven wide"><h1>Les Nanars Sauvages <img src="/drapeau/0" class="flag"></h1></td>
                    <td>
                    <div class="one wide" onclick="setLang('Fr')"><img src="/drapeau/1" class="flag"></div>
                    <div class="one wide" onclick="setLang('En')"><img src="/drapeau/2" class="flag"></div>
                    </td>
                <td class="three wide" id="loginarea">
                    <div class="ui vertical three buttons">
                    <a href="/" class="ui grey button" th:text="#{homePage}">page d'accueil</a><br>
                    <th:block th:if="${session.user != null}">
                    <span class="ui blue button" th:utext="${session.user.login}"></span>
                    <br>
                    <a th:href="@{/login/logout}" class="ui red button" th:utext="#{logout}">logout</a>
                    </th:block>
                    <th:block th:if="${session.user == null}">
                    <!-- <a th:if="${session.user == null}" th:href="@{/login}" th:text="#{oldlogin}">se connecter(ancienne methode)</a><br> -->
                    <a th:href="@{/login/connect}" class="ui teal button" th:text="#{login}">se connecter</a>
                        <br>
                    <a th:href="@{/login/inscription}" class="ui green button" th:text="#{register}">s'inscrire</a>
                    </th:block>
                    </div>
                </td>
                </tr>
                </tbody>
            </table>
            <p th:text="${flashMessage}"></p>

        </header>
        <section>Contenu de la section</section>
        <footer th:fragment="footer">
            <a href="/contact" class="ui grey button" th:text="#{contactUs}">nous contacter</a>

            <script src="webjars/jquery/3.3.1-1/jquery.js"
                    th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>

            <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"
                    th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
            <script src="webjars/tinymce/4.7.9/tinymce.min.js"
                    th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
            <script type="application/javascript">
                $('.ui.dropdown.item')
                    .dropdown();
            </script>
            <script type="application/javascript">
                function setLang(lang) {
                    var currentUrl=window.location.toString();
                    if(currentUrl.includes("lang="))
                    {   currentUrl=currentUrl.substring(0,currentUrl.length-2);
                    }
                    else if(!currentUrl.includes("?"))
                    {   currentUrl=currentUrl+"?lang=";
                    }
                    else
                    {   currentUrl=currentUrl+"&lang=";
                    }
                    currentUrl=currentUrl+lang;
                    window.location=currentUrl;
                }
            </script>
        </footer>
    </body>
</html>