<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate.html :: header"></header>

<table class="table ui" id="maintable">
    <tbody>
    <tr>
        <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
            <h1>Bienvenue sur le site des Nanars Sauvages</h1>
            <div th:if="${empty}">
                Bonjour admin!<br>
                Votre application fonctionne.<br>
                Dans un premier temps veuillez changer de mot de passe  ou créer votre propre compte.<br>
            </div>
            <table id="planningTable" class="ui table">
                <th th:each="salle :  ${salles}" th:text="${salle.nom}"></th>
            </table>


        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="basictemplate :: footer"></footer>

</body>
</html>