<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <tr>

        <td class="four wide" id="navbararea" th:fragment="barrenav">

            <div class="ui page grid" id="navbarre">
                <div class="row">
                    <div class="ui vertical inverted menu navbar teal">

                        <!--<a href="" class="active item">Link</a>-->
                        <a class="item" href="/">Home</a>
                        <a class="item" href="/user/selfupdate">Mon compte</a>
                        <a class="item" href="/planDAcces">plan d'acces</a>
                        <div class="ui dropdown item">Films
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/film/liste">liste</a>
                                <a th:if="${session.admin!=null}" class="item" href="/film/add">creer</a>
                            </div>
                        </div>
                        <div class="ui dropdown item">Personnes
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/personne/liste">liste</a>
                                <a th:if="${session.admin!=null}" class="item" href="/personne/create">creer</a>
                            </div>
                        </div>
                        <div th:if="${session.admin!=null}" class="ui dropdown item">Utilisateurs
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/user/liste">liste</a>
                                <a class="item" href="/user/create">creer</a>
                            </div>
                        </div>
                        <div th:if="${session.admin!=null}" class="ui dropdown item">seances
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/seance/semaine">cette semaine</a>
                                <a class="item" href="/seance/all">toutes</a>
                                <a th:if="${session.admin!=null}" class="item" href="/seance/create?n=1">creer</a>
                            </div>
                        </div>
                        <div th:if="${session.admin!=null}" class="ui dropdown item">messages Admin
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/msgliste/all">tous</a>
                                <a class="item" href="/msgliste/nonlus">non lus</a>
                            </div>
                        </div>
                        <div th:if="${session.admin!=null}" class="ui dropdown item">newsletter
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/news/create">creer</a>
                                <a class="item" href="/news/liste">liste</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!--
                <div class="mobile only narrow row">
                    <div class="ui  inverted navbar menu">
                        <a href="" class="brand item">Project Name</a>
                        <div class="right menu open">
                            <a href="" class="menu item">
                                <i class="reorder icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ui vertical navbar menu">
                        <a href="" class="active item">Link</a>
                        <a href="" class="item">Link</a>
                        <a href="" class="item">Link</a>
                        <div class="ui item">
                            <div class="text">Dropdown</div>
                            <div class="menu">
                                <a class="item">Action</a>
                                <a class="item">Another action</a>
                                <a class="item">Something else here</a>
                                <a class="ui aider"></a>
                                <a class="item">Seperated link</a>
                                <a class="item">One more seperated link</a>
                            </div>
                        </div>
                        <div class="menu">
                            <a href="" class="active item">Default</a>
                            <a href="" class="item">Static top</a>
                            <a href="" class="item">Fixed top</a>
                        </div>
                    </div>
                </div>
                -->
            </div>

        </td>
    </tr>
</table>
<div class="nav flex-column nav-pills">
    <a class="navbar-brand show" href="#">Navbar</a>
    <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
</body>
</html>