<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="basictemplate :: header_css">
    </th:block>
    </head>
<body>
    <header class="block" th:replace="basictemplate :: header"></header>
    <table class="table ui" id="maintable">

        <tbody>
        <tr>


                <td th:replace="navtemplate :: barrenav"></td>

            <td id="mainContent" class="twelve wide">
    <h2>Plan d'accès</h2>
    <section>
        Notre complexe se situe rue Berlioz à Saint-Michel-sur-Orge.<br>
        <a href="https://www.google.fr/maps/place/Espace+Marcel+Carn%C3%A9/@48.6366192,2.3210281,18z/data=!4m13!1m7!3m6!1s0x47e5d914bad63619:0x9dc433a42a193f39!2sRue+Berlioz!3b1!8m2!3d48.6364402!4d2.321219!3m4!1s0x47e5d92e766df6a9:0xc91083ebd7f9b73d!8m2!3d48.6374042!4d2.3218375">Plan
            d'accès sur google maps</a><br>

        Vous pouvez vous garer sur le parking du supermarché Géant Juste au dessus.<br>
    </section>
            </td></tr></tbody></table>


    <footer th:replace="basictemplate :: footer"></footer>
    </body></html>