<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate.html :: header"></header>

<table class="table ui">
    <tbody>
    <tr>
        <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
            <div class="container">
            <div class="row">
            <div id="album"></div>
            </div>
            </div>
            <h1>Test images</h1>
        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="basictemplate :: footer"></footer>
<script src="/js/testimages.js"></script>
</body>
</html>