<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td id="mainContent" class="twelve wide">
    <h1>liste des personnes</h1>
            <table class="ui table">
    <tr th:each="personne : ${personnes}">

            <td class="ten wide"><a   th:href="@{/personne/{Id} (Id=${personne.id})}" th:text="${personne.name}"></a></td>
            <td class="two wide"><a class="ui red button"  th:if="${session.admin}" th:href="@{/personne/delete/{Id} (Id=${personne.id})}">Effacer</a></td>
            <td class="two wide"><a class="ui yellow button" th:if="${session.admin}" th:href="@{/personne/update/{Id} (Id=${personne.id})}">Editer</a></td>
    </tr>
                </table>
        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>