<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
</head>
<body>
<header th:replace="basictemplate :: header"></header>
<table class="table ui">

    <tbody>
    <tr>
        <td th:replace="navtemplate :: barrenav"></td>
        <td id="mainContent" class="twelve wide">
    <h1>liste des roles</h1>
            <table class="ui table">
    <tr   th:each="role : ${plays}">
            <td class="twelve wide"><a th:href="@{/personne/{Id} (Id=${role.personne.id})}" th:text="${role.personne.nom}+' '+${role.personne.prenom}"></a> dans
                <a th:href="@{/film/detail/{Id} (Id=${role.film.id})}" th:text="${role.film.titre} "> </a> joue <th:block th:text="${role.nom}"></th:block></td>
            <td class="two wide"><a class="ui red button"  th:if="${session.admin!=null}" th:href="@{/play/delete/{id} (id=${role.id})}">Effacer</a></td>
            <td class="two wide"><a class="ui yellow button" th:if="${session.admin!=null}" th:href="@{/play/update/{id} (id=${role.id})}">Editer</a></td>
    </tr>
            </table>
        </td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>