<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="basictemplate :: header_css">
        </th:block>
    </head>
<body>
    <header  class="block" th:replace="basictemplate :: header"></header>

        <table class="table ui">

            <tbody>
            <tr>

                <td th:replace="navtemplate :: barrenav"></td>
                <td id="mainContent" class="twelve wide">
                <h2>Créez vos Identifiants</h2>


                        <form action="/login/subscribe" method="post" >
                            <table class="ui table">
                                <tr><td><input type="hidden" th:field="${user.id}"/></td></tr>

                            <tr><td><input type="hidden" th:field="${user.link}"/></td></tr>

                            <tr>
                                <td><label>Identifiant *</label></td><td><input name="login" type="text" th:field="${user.login}"/></td>
                            </tr><tr>
                            <td><label>Mot de passe *</label></td><td><input name="password2" type="password"/></td>
                        </tr><tr>
                            <td><label>email *</label></td><td><input name="email" type="text" th:field="${user.email}"/><td>
                        </tr><tr>
                                <td><label>nom *</label></td><td><input name="nom" type="text" th:field="${user.nom}"/><td>
                            </tr><tr>
                        </tr><tr>
                            <td><label>prenom *</label></td><td><input name="prenom" type="text" th:field="${user.prenom}"/><td>
                        </tr>
                                <tr>
                                <td><input type="submit" value="Envoyer" /></td>
                                </tr>
                    </table>
                        </form>
                </td> </tr></tbody></table>


    <footer th:replace="basictemplate :: footer"></footer>
</body></html>