    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <th:block th:replace="basictemplate :: header_css">
        </th:block>
        </head>

        <header class="block" th:replace="basictemplate :: header"></header>

        <div class="row">
            <div class="col-sm-2">
                <nav th:replace="navtemplate :: barrenav"></nav>
            </div>
            <div class="col-sm-10">
                <h2>Entrez votre Email</h2>
                <section>
                    <form action="/login/recover" method="post">
                        <table>
                            <tr>

                                <td>
                                    <label>email *</label></td>
                                <td><input name="email" type="text"/></td>
                            <tr>
                                <td><input type="submit" value="Envoyer"/></td>
                            </tr>

                            </tr></table>
                    </form>
                </section>
            </div>
        </div>

        <footer th:replace="basictemplate :: footer"></footer>
        </body></html>