<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>
    <th:block th:replace="basictemplate :: pagination_css">
    </th:block>

</head>
<body>

<header class="block" th:replace="basictemplate :: header"></header>

<table class="ui table" id="maintable">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td class="twelve wide" id="mainContent">


            <h1>Liste des films</h1>

            <h2 th:if="${choix}" th:text="${choix}"></h2>
            <table class="ui table" id="filmsTable">
                <tbody id="body">
                <tr hidden="true" th:if="${film}">

                    <td class="ten wide marge" ><a th:href="@{/film/detail/{Id} (Id=${film.id})}"
                                            th:text="${film.titre}+' '+${film.note}"></a></td>

                    <td class="two wide marge">
                        <a class="ui red button" th:if="${session.admin}" th:text="#{delete}"
                           th:href="@{/film/delete/{Id} (Id=${film.id})}">Effacer</a>
                    </td>
                    <td class="two wide marge">
                        <a class="ui yellow button" th:if="${session.admin}" th:text="#{edit}"
                           th:href="@{/film/mod/{Id} (Id=${film.id})}">Editer</a></td>
                </tr>

                </tbody>
            </table>
            <ul id="pagination" class="pagination-lg"></ul>
            <form>
                <label>Type requete</label><select type="text" value="all" id="requestTypeId" >


                <option value="all">all</option>
                <option value="byGenre">by Genre</option>
                <option value="byTitle">by Title</option>


            </select>
                <label>Critere de Recherche</label><input type="text" id="parameter" value="" list="genreslist" onfocus="this.value=''" autocomplete="false">
                <datalist id="genreslist">
                    <option th:each="genre : ${genres}" th:value="${genre.name}" th:text="${genre.name}"></option>
                </datalist>

                <label>Rechercher</label><input type="button" onclick="dosearch()" value="rechercher">
            </form>

        </td>
    </tr>
    </tbody>
</table>

<footer th:replace="basictemplate :: footer"></footer>

<script type="application/javascript" src="/js/listefilms.js">
</script>
</body>
</html>
