<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="basictemplate :: header_css">
    </th:block>

</head>
<body>

<header class="block" th:replace="basictemplate :: header"></header>

<table class="table ui">

    <tbody>
    <tr>

        <td th:replace="navtemplate :: barrenav"></td>

        <td class="twelve wide" id="mainContent">

            <form action="/film/create" enctype="multipart/form-data" method="post">

<h1>Liste des films</h1>

            <h2 th:if="${choix}" th:text="${choix}"></h2>
                <table class="ui table">
        <tr  th:each="film : ${listefilms}">

            <td class="ten wide"><a th:href="@{/film/detail/{Id} (Id=${film.id})}"
                                      th:text="${film.titre}+' '+${film.note}"></a></td>

            <td class="two wide">
                <a class="ui red button" th:if="${session.admin}" th:text="#{delete}" th:href="@{/film/delete/{Id} (Id=${film.id})}">Effacer</a>
            </td>
            <td class="two wide">
                <a class="ui yellow button" th:if="${session.admin}" th:text="#{edit}" th:href="@{/film/mod/{Id} (Id=${film.id})}">Editer</a></td>
        </tr>
                </table>
            </form></td></tr></tbody></table>
<footer th:replace="basictemplate :: footer"></footer>
</body>
</html>
